.AgreePopup {
  position: fixed;
  background: #1d1d1d;
  padding: 20px;
  width: 320px;
  height: 308px;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.AgreePopup .text {
  flex: 1;
  overflow-y: auto;
  padding: 15px 5px;
  padding-bottom: 65px;
}

.AgreePopup .text h6 {
  width: 24px;
  height: 24px;
  color: #ffffff;
  position: absolute;
  top: 11px;
  left: 285px;
  font-size: 15px;
  text-align: center;
}

.AgreePopup h3 {
  font-size: 12px;
  margin-top: 13px;
  margin-bottom: 3px;
  color: #d9d9d9;
}

.AgreePopup p {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */

  color: #d9d9d9;
}

.AgreePopup .Button_white {
  position: absolute;
  width: 296px;
  left: calc(50% - 296px / 2);
  top: 243px;
}

@media (max-height: 710px) {
  .AgreePopup {
    position: fixed;
    top: 100px;
  }
}

@media (max-height: 600px) {
  .AgreePopup {
    transform: translateX(-50%) scale(0.9);
    position: fixed;
    top: 50px;
  }
}
