.Ment h3 {
  /* 상대와의 카카오톡 대화를 업로드해 보세요! */

  width: 302px;
  height: 56px;
  position: relative;
  top: 90px;

  margin: 0 auto;
  margin-top: 0px;

  font-weight: 600;
  font-size: 21.6797px;
  line-height: 130%;
  /* or 28px */
  text-align: center;
  letter-spacing: -0.02em;

  color: #343434;
}

.Ment_result {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 360px;
  height: 115px;
  top: 60px;

  /* 내부 요소 수직 중앙 정렬 */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Ment_result h3 {
  top: 0;
  height: auto;
  font-size: 14.5px;
  padding: 0 30px;
  width: 100%;
}

@media (max-height: 622px) {
  .Ment_result {
    top: 40px;
  }

  .Ment_result h3 {
    font-size: 11px;
  }
}
